Value Network (([0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}))
Value Mask (\/\d{1,2})
Value Proto (\S+)
Value Metric (\d{1,3})
Value AS ((\d+\s)+)
Value List NH (([0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}))
Value List INH (\S+)

Start
  ^${Network}${Mask}\s+\*?\[${Proto}\/${Metric}\] -> Continue
  ^.*AS path: ${AS}I -> Continue
  ^.*to\s${NH}\svia\s${INH} -> Record
